%p#notice= notice
%p
  %strong Name:
  = @monument.name
%p
  %strong Description:
  = @monument.description
%p
  %strong Category:
  = @monument.category_id

%p
  %strong Collection:
  = @monument.collection.name

= link_to 'Save A Picture', new_picture_path(monument_id: @monument.id)
|
= link_to 'Edit', edit_monument_path(@monument)
|
\#{link_to 'Back', monuments_path}