%h1 New Category

= form_for(@category) do |f|
  .field
    = f.label :category
    %br
      = f.text_field :category
  .actions
    = f.submit

= link_to 'Back to Create A New Monuments', new_monument_path
